USE [master]
GO
/****** Object:  Database [University_Housing_ManagementDatabase]    Script Date: 6/20/2026 ******/
-- Check if the database already exists to drop it and avoid errors
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'University_Housing_ManagementDatabase')
BEGIN
    ALTER DATABASE [University_Housing_ManagementDatabase] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [University_Housing_ManagementDatabase];
END
GO

-- Create the database with default system paths to work on any machine
CREATE DATABASE [University_Housing_ManagementDatabase]
GO
USE [University_Housing_ManagementDatabase]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
USE [University_Housing_ManagementDatabase]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 7/24/2026 2:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[BankID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](50) NULL,
	[OperationType] [nvarchar](250) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [smallmoney] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[BankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/24/2026 2:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](250) NOT NULL,
	[Price] [smallmoney] NOT NULL,
	[PurchasePrice] [smallmoney] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateByUserID] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifiedByUserID] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 7/24/2026 2:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomLocation] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleDetails]    Script Date: 7/24/2026 2:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetails](
	[SaleDetailID] [int] IDENTITY(1,1) NOT NULL,
	[SaleID] [int] NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [smallmoney] NOT NULL,
	[LineTotal] [smallmoney] NOT NULL,
 CONSTRAINT [PK_SaleDetails] PRIMARY KEY CLUSTERED 
(
	[SaleDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 7/24/2026 2:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 7/24/2026 2:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Key] [nvarchar](max) NOT NULL,
	[Value] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specializations]    Script Date: 7/24/2026 2:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specializations](
	[SpecializationID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Specialization] PRIMARY KEY CLUSTERED 
(
	[SpecializationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 7/24/2026 2:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[UniversityNumber] [nvarchar](50) NOT NULL,
	[RoomID] [int] NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[GuardiansNumber] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[AcademiclLevel] [tinyint] NOT NULL,
	[SpecilizationID] [int] NOT NULL,
	[IDPhoto] [nvarchar](max) NULL,
	[UniversityCardPhoto] [nvarchar](max) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[UniversityNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSubscriptions]    Script Date: 7/24/2026 2:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSubscriptions](
	[StudentSubscriptionID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](50) NOT NULL,
	[SubscriptionID] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_StudentSubscriptions] PRIMARY KEY CLUSTERED 
(
	[StudentSubscriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 7/24/2026 2:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[SubscriptionID] [int] IDENTITY(1,1) NOT NULL,
	[SubscriptionTypeID] [int] NOT NULL,
 CONSTRAINT [PK_Subscriptions] PRIMARY KEY CLUSTERED 
(
	[SubscriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionTypes]    Script Date: 7/24/2026 2:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionTypes](
	[SubscriptionTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [smallmoney] NOT NULL,
 CONSTRAINT [PK_SubscriptionTypes] PRIMARY KEY CLUSTERED 
(
	[SubscriptionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/24/2026 2:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[RefreshTokenExpiresAt] [datetime] NULL,
	[RefreshTokenRevokedAt] [datetime] NULL,
	[Permmission] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Violations]    Script Date: 7/24/2026 2:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Violations](
	[ViolationID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](50) NOT NULL,
	[ViolationTypeID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Fine] [smallmoney] NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Violations] PRIMARY KEY CLUSTERED 
(
	[ViolationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViolationTypes]    Script Date: 7/24/2026 2:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViolationTypes](
	[ViolationTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[PenaltyAmount] [smallmoney] NOT NULL,
 CONSTRAINT [PK_ViolationTypes] PRIMARY KEY CLUSTERED 
(
	[ViolationTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bank] ON 

INSERT [dbo].[Bank] ([BankID], [StudentID], [OperationType], [Date], [Amount], [CreatedByUserID]) VALUES (1, N'20231600117', N'New subscription', CAST(N'2026-07-23T10:01:46.217' AS DateTime), 50.0000, 1)
INSERT [dbo].[Bank] ([BankID], [StudentID], [OperationType], [Date], [Amount], [CreatedByUserID]) VALUES (2, N'20231600015', N'New subscription', CAST(N'2026-07-23T10:02:38.080' AS DateTime), 200.0000, 1)
INSERT [dbo].[Bank] ([BankID], [StudentID], [OperationType], [Date], [Amount], [CreatedByUserID]) VALUES (3, N'20231600000', N'New subscription', CAST(N'2026-07-23T10:03:09.447' AS DateTime), 600.0000, 1)
SET IDENTITY_INSERT [dbo].[Bank] OFF
GO
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [PurchasePrice], [Quantity], [CreateByUserID], [CreateDate], [LastModifiedByUserID], [LastModifiedDate]) VALUES (N'A1', N'Salt', 2.0000, 1.0000, 6, 1, CAST(N'2026-07-23T12:23:20.100' AS DateTime), 1, CAST(N'2026-07-23T13:13:09.430' AS DateTime))
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [PurchasePrice], [Quantity], [CreateByUserID], [CreateDate], [LastModifiedByUserID], [LastModifiedDate]) VALUES (N'A2', N'Suger', 1.0000, 0.5000, 17, 1, CAST(N'2026-07-23T12:24:29.653' AS DateTime), NULL, NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [PurchasePrice], [Quantity], [CreateByUserID], [CreateDate], [LastModifiedByUserID], [LastModifiedDate]) VALUES (N'A3', N'Apple', 2.0000, 1.0000, 8, 1, CAST(N'2026-07-23T12:25:40.720' AS DateTime), 1, CAST(N'2026-07-23T12:32:14.017' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [RoomLocation]) VALUES (1, N'Building: Residence, Floor 1, Room 1')
INSERT [dbo].[Rooms] ([RoomID], [RoomLocation]) VALUES (2, N'Building: Residence, Floor 1, Room 2')
INSERT [dbo].[Rooms] ([RoomID], [RoomLocation]) VALUES (3, N'Building: Residence, Floor 1, Room 3')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[SaleDetails] ON 

INSERT [dbo].[SaleDetails] ([SaleDetailID], [SaleID], [ProductID], [Quantity], [UnitPrice], [LineTotal]) VALUES (1, 1, N'A2', 3, 1.0000, 3.0000)
INSERT [dbo].[SaleDetails] ([SaleDetailID], [SaleID], [ProductID], [Quantity], [UnitPrice], [LineTotal]) VALUES (2, 1, N'A1', 5, 2.0000, 10.0000)
INSERT [dbo].[SaleDetails] ([SaleDetailID], [SaleID], [ProductID], [Quantity], [UnitPrice], [LineTotal]) VALUES (3, 2, N'A4', 1, 1.0000, 1.0000)
SET IDENTITY_INSERT [dbo].[SaleDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleID], [Date], [CreatedByUserID]) VALUES (1, CAST(N'2026-07-23T13:20:18.310' AS DateTime), 1)
INSERT [dbo].[Sales] ([SaleID], [Date], [CreatedByUserID]) VALUES (2, CAST(N'2026-07-23T13:20:42.140' AS DateTime), 1)
INSERT [dbo].[Sales] ([SaleID], [Date], [CreatedByUserID]) VALUES (3, CAST(N'2026-07-23T13:27:19.473' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
INSERT [dbo].[Settings] ([Key], [Value]) VALUES (N'MaximumNumberOfStudentsInTheRoom', 3)
GO
SET IDENTITY_INSERT [dbo].[Specializations] ON 

INSERT [dbo].[Specializations] ([SpecializationID], [Name]) VALUES (1, N'Dentistry')
INSERT [dbo].[Specializations] ([SpecializationID], [Name]) VALUES (2, N'Pharmacy')
INSERT [dbo].[Specializations] ([SpecializationID], [Name]) VALUES (3, N'Information Technology')
SET IDENTITY_INSERT [dbo].[Specializations] OFF
GO
INSERT [dbo].[Students] ([UniversityNumber], [RoomID], [FullName], [Phone], [GuardiansNumber], [Address], [AcademiclLevel], [SpecilizationID], [IDPhoto], [UniversityCardPhoto]) VALUES (N'10', 2, N'Mohammed', N'008989', N'89798', N'Hama', 5, 3, N'', N'')
INSERT [dbo].[Students] ([UniversityNumber], [RoomID], [FullName], [Phone], [GuardiansNumber], [Address], [AcademiclLevel], [SpecilizationID], [IDPhoto], [UniversityCardPhoto]) VALUES (N'20', 1, N'koko', N'0979079', N'0887097', N'Hama', 3, 3, N'', N'')
INSERT [dbo].[Students] ([UniversityNumber], [RoomID], [FullName], [Phone], [GuardiansNumber], [Address], [AcademiclLevel], [SpecilizationID], [IDPhoto], [UniversityCardPhoto]) VALUES (N'20231600000', 2, N'Khalid Al Ali', N'9888888', N'09897', N'Homs', 1, 4, N'', N'')
GO
SET IDENTITY_INSERT [dbo].[StudentSubscriptions] ON 

INSERT [dbo].[StudentSubscriptions] ([StudentSubscriptionID], [StudentID], [SubscriptionID], [StartDate], [EndDate], [IsActive]) VALUES (1, N'20231600117', 1, CAST(N'2026-07-23T10:01:46.163' AS DateTime), CAST(N'2026-07-30T10:01:46.163' AS DateTime), 1)
INSERT [dbo].[StudentSubscriptions] ([StudentSubscriptionID], [StudentID], [SubscriptionID], [StartDate], [EndDate], [IsActive]) VALUES (2, N'20231600015', 2, CAST(N'2026-07-23T10:02:38.073' AS DateTime), CAST(N'2026-08-23T10:02:38.073' AS DateTime), 1)
INSERT [dbo].[StudentSubscriptions] ([StudentSubscriptionID], [StudentID], [SubscriptionID], [StartDate], [EndDate], [IsActive]) VALUES (3, N'20231600000', 3, CAST(N'2026-07-23T10:03:09.440' AS DateTime), CAST(N'2026-11-23T10:03:09.440' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[StudentSubscriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Subscriptions] ON 

INSERT [dbo].[Subscriptions] ([SubscriptionID], [SubscriptionTypeID]) VALUES (1, 1)
INSERT [dbo].[Subscriptions] ([SubscriptionID], [SubscriptionTypeID]) VALUES (2, 2)
INSERT [dbo].[Subscriptions] ([SubscriptionID], [SubscriptionTypeID]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Subscriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[SubscriptionTypes] ON 

INSERT [dbo].[SubscriptionTypes] ([SubscriptionTypeID], [Description], [Price]) VALUES (1, N'Weekly', 50.0000)
INSERT [dbo].[SubscriptionTypes] ([SubscriptionTypeID], [Description], [Price]) VALUES (2, N'Monthly', 200.0000)
INSERT [dbo].[SubscriptionTypes] ([SubscriptionTypeID], [Description], [Price]) VALUES (3, N'Semester', 600.0000)
SET IDENTITY_INSERT [dbo].[SubscriptionTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [RefreshToken], [RefreshTokenExpiresAt], [RefreshTokenRevokedAt], [Permmission], [IsActive]) VALUES (1, N'Othman', N'$2a$11$7cBfEN3mek.NuuzCqY/Id.N6pHc6PAl.EJZbKcouqwLW4aMzVJ60W', N'$2a$11$6iyIwGtn1d2LS5A4Gntn/Omv0NAlo4LnY3UKQ0urEJtfwmmQ3x1L6', CAST(N'2026-07-31T10:11:58.847' AS DateTime), NULL, -1, 1)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [RefreshToken], [RefreshTokenExpiresAt], [RefreshTokenRevokedAt], [Permmission], [IsActive]) VALUES (6, N'koko', N'$2a$11$cTP6KXm/9wG0GZOoW9dPEuSdKMUXrvnrZ7n5DfvxqVhsSmrHnLeSm', N'$2a$11$xIzJ4jaBhwSVP66ykxwsJuEB1yXVm2LmBech2et3uC6l3LXkCJxPq', CAST(N'2026-07-30T08:23:01.373' AS DateTime), CAST(N'2026-07-23T08:23:22.437' AS DateTime), 128, 1)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [RefreshToken], [RefreshTokenExpiresAt], [RefreshTokenRevokedAt], [Permmission], [IsActive]) VALUES (7, N'Ali', N'$2a$11$5svpjb3yZjllg6hTvSq8JOyc9YQ4Fo0MXI96Y26C8V7wTkGWeuHfa', N'$2a$11$QQIP2i4dODDTk1MNPMLLFe6HDVW.BgBiiPYUlrCcG1ooMeqxdbjUG', CAST(N'2026-07-27T12:17:02.307' AS DateTime), NULL, 39, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Violations] ON 

INSERT [dbo].[Violations] ([ViolationID], [StudentID], [ViolationTypeID], [Date], [Fine], [IsPaid], [CreatedByUserID]) VALUES (1, N'20231600117', 7, CAST(N'2026-07-23T13:30:35.733' AS DateTime), 20.0000, 0, 1)
INSERT [dbo].[Violations] ([ViolationID], [StudentID], [ViolationTypeID], [Date], [Fine], [IsPaid], [CreatedByUserID]) VALUES (2, N'20231600117', 9, CAST(N'2026-07-23T13:31:02.010' AS DateTime), 10.0000, 1, 1)
INSERT [dbo].[Violations] ([ViolationID], [StudentID], [ViolationTypeID], [Date], [Fine], [IsPaid], [CreatedByUserID]) VALUES (3, N'20231600015', 3, CAST(N'2026-07-23T13:31:25.997' AS DateTime), 40.0000, 1, 1)
SET IDENTITY_INSERT [dbo].[Violations] OFF
GO
SET IDENTITY_INSERT [dbo].[ViolationTypes] ON 

INSERT [dbo].[ViolationTypes] ([ViolationTypeID], [Name], [Description], [PenaltyAmount]) VALUES (1, N'Not performing the Fajr prayer', N'Sleeping through or neglecting Fajr prayer', 10.0000)
INSERT [dbo].[ViolationTypes] ([ViolationTypeID], [Name], [Description], [PenaltyAmount]) VALUES (2, N'Disturbance in the room', N'Disturbing or making noise to other students', 30.0000)
INSERT [dbo].[ViolationTypes] ([ViolationTypeID], [Name], [Description], [PenaltyAmount]) VALUES (3, N'Violation of visitation regulations', N'Receiving guests without permission', 40.0000)
SET IDENTITY_INSERT [dbo].[ViolationTypes] OFF
GO
ALTER TABLE [dbo].[Bank]  WITH CHECK ADD  CONSTRAINT [FK_Bank_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bank] CHECK CONSTRAINT [FK_Bank_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Users] FOREIGN KEY([CreateByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Users1] FOREIGN KEY([LastModifiedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Users1]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Products]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Sales] FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sales] ([SaleID])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Sales]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Users]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Rooms] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Rooms]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Specializations] FOREIGN KEY([SpecilizationID])
REFERENCES [dbo].[Specializations] ([SpecializationID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Specializations]
GO
ALTER TABLE [dbo].[StudentSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_StudentSubscriptions_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([UniversityNumber])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentSubscriptions] CHECK CONSTRAINT [FK_StudentSubscriptions_Students]
GO
ALTER TABLE [dbo].[StudentSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_StudentSubscriptions_Subscriptions] FOREIGN KEY([SubscriptionID])
REFERENCES [dbo].[Subscriptions] ([SubscriptionID])
GO
ALTER TABLE [dbo].[StudentSubscriptions] CHECK CONSTRAINT [FK_StudentSubscriptions_Subscriptions]
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Subscriptions_SubscriptionTypes] FOREIGN KEY([SubscriptionTypeID])
REFERENCES [dbo].[SubscriptionTypes] ([SubscriptionTypeID])
GO
ALTER TABLE [dbo].[Subscriptions] CHECK CONSTRAINT [FK_Subscriptions_SubscriptionTypes]
GO
ALTER TABLE [dbo].[Violations]  WITH CHECK ADD  CONSTRAINT [FK_Violations_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([UniversityNumber])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Violations] CHECK CONSTRAINT [FK_Violations_Students]
GO
ALTER TABLE [dbo].[Violations]  WITH CHECK ADD  CONSTRAINT [FK_Violations_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Violations] CHECK CONSTRAINT [FK_Violations_Users]
GO
ALTER TABLE [dbo].[Violations]  WITH CHECK ADD  CONSTRAINT [FK_Violations_ViolationTypes] FOREIGN KEY([ViolationTypeID])
REFERENCES [dbo].[ViolationTypes] ([ViolationTypeID])
GO
ALTER TABLE [dbo].[Violations] CHECK CONSTRAINT [FK_Violations_ViolationTypes]
GO
USE [master]
GO
